In [22]:
import pandas as pd
pd.set_option('display.precision', 2)
pd.set_option('display.float_format', '{:,.2f}'.format)


def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

data_file = "http://dataframe.oss-cn-beijing.aliyuncs.com/banks.xlsx"
dfs = pd.read_excel(data_file, sheet_name=None, na_values='———', index_col=0)
# df = pd.concat(dfs, names=['机构', '指标'])
df = pd.concat(dfs)
df.columns = [pd.Period(d) for d in df.columns] # pd.to_datetime(df.columns, format='%Y%m%d')
# df.columns.name = '期数'
# df.set_index(['指标', '机构'])
# df.set_index(['指标', '期数'], inplace=True)
df.xs('净利差', level=1)

,2012-12-31,2013-03-31,2013-06-30,2013-09-30,2013-12-31,2014-03-31,2014-06-30,2014-09-30,2014-12-31,2015-03-31,...,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-12-31
招商银行,2.87,2.78,2.78,2.66,2.65,2.44,2.48,2.30,2.45,2.72,...,2.59,2.49,2.45,2.43,2.37,2.30,2.31,nan,2.29,2.44
兴业银行,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,2.26,nan,2.03,nan,2.00,nan,1.48,nan,nan,nan
平安银行,2.19,nan,nan,nan,2.14,nan,nan,nan,2.39,nan,...,2.62,nan,2.66,nan,2.60,2.37,2.29,nan,nan,nan
民生银行,2.75,nan,2.24,nan,2.30,nan,2.42,nan,2.41,nan,...,2.10,nan,1.88,nan,1.74,nan,nan,nan,nan,nan
中信银行,2.61,nan,2.39,nan,2.40,nan,2.14,nan,2.19,nan,...,2.13,nan,nan,nan,1.89,nan,nan,nan,nan,nan
宁波银行,nan,nan,nan,nan,nan,nan,nan,nan,2.50,nan,...,2.40,nan,2.05,nan,nan,nan,nan,nan,nan,nan
农业银行,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [23]:
ndf = df['20171231'].unstack()

In [24]:
# # 存贷差
# ndf['存贷差'] = ndf['贷款利率'] - ndf['存款利率']

# # 资产
# ndf['贷款占比'] = ndf['贷款平均余额'] / ndf['生息资产余额']
# ndf['公司贷款占比'] = ndf['公司贷款'] / ndf['生息资产余额']
# ndf['零售贷款占比'] = ndf['零售贷款'] / ndf['生息资产余额']
# ndf['票据贴现占比'] = ndf['票据贴现'] / ndf['生息资产余额']

# ndf['投资占比'] = ndf['投资平均余额'] / ndf['生息资产余额']
# ndf['存放央行占比'] = ndf['存放央行平均余额'] / ndf['生息资产余额']
# ndf['同业资产占比'] = ndf['存拆放同业平均余额'] / ndf['生息资产余额']

# # 负债
# ndf['存款占比'] = ndf['存款平均余额'] / ndf['计息负债余额']
# ndf['公司存款占比'] = ndf['公司存款'] / ndf['计息负债余额']
# ndf['公司活期占比'] = ndf['公司活期'] / ndf['计息负债余额']
# ndf['公司定期占比'] = ndf['公司定期'] / ndf['计息负债余额']

# ndf['零售存款占比'] = ndf['零售存款'] / ndf['计息负债余额']
# ndf['零售活期占比'] = ndf['零售活期'] / ndf['计息负债余额']
# ndf['零售定期占比'] = ndf['零售定期'] / ndf['计息负债余额']

# ndf['活期存款占比'] = (ndf['公司活期'] + ndf['零售活期']) / ndf['计息负债余额']

# ndf['发行债券占比'] = ndf['发行债券平均余额'] / ndf['计息负债余额']
# ndf['向央行借款占比'] = ndf['向央行借款平均余额'] / ndf['计息负债余额']
# ndf['同业负债占比'] = ndf['同业存拆放平均余额'] / ndf['计息负债余额']

# ndf[['贷款占比', '公司贷款占比', '零售贷款占比', '票据贴现占比', '投资占比', '存放央行占比', '同业资产占比']].style.apply(highlight_max).format("{:.2%}")

In [25]:
# cols = ['贷款占比', '贷款利率', '投资占比', '投资收息率', '存放央行占比', '存放央行收息率', '同业资产占比', '存拆放同业收息率']
# cols1 = [s for s in cols if s.endswith('占比')]
# ndf[cols].style.format("{:.2%}", subset=cols1).highlight_max().highlight_min(color='green')

In [26]:
# ndf[['存款占比', '公司存款占比', '公司活期占比', '零售存款占比', '零售活期占比', '活期存款占比', '发行债券占比', '向央行借款占比', '同业负债占比']].style.apply(highlight_max).format("{:.2%}")

In [27]:
# ndf[['贷款利率', '公司贷款利率', '零售贷款利率', '存款利率', '公司活期利率', '公司定期利率', '零售活期利率', '零售定期利率', '存贷差', '净利差', '净息差']].style.apply(highlight_max).format("{:.2f}")

In [28]:
# df.xs('贷款利率', level=1)

In [29]:
# df.xs('存款利率', level=1)

In [30]:
# df.xs('贷款利率', level=1) - df.xs('存款利率', level=1)