In [24]:
import pandas as pd
df1 = pd.read_clipboard(index_col=0, usecols=[0,1], names=['地区', '2019收益'])
df1

        2019收益
地区
上海     912,978
河南     113,678
重慶      67,892
安徽     179,046
山東      81,786
遼寧     181,614
江西      80,789
福建      46,283
浙江      30,476
江蘇      64,302
廣西      15,664
內蒙古     18,191
貴州      15,407
湖北         216
—            —
總計   1,808,322

In [69]:
df2 = pd.read_clipboard(names=['地区', '2018收益', '2017收益'], index_col=0, usecols=[0, 1, 3])
df2

      2018收益   2017收益
地区
上海   862,165  780,296
河南    98,171   88,265
重慶    70,404   70,563
安徽   158,072  137,334
山東    69,116   59,718
遼寧   175,037  174,109
江西    55,071   45,924
福建    37,735   33,636
浙江    17,359    8,341
江蘇    52,944   57,017
廣西    11,755    2,697
內蒙古    9,958     None
—          —     None
貴州     7,024     None
—          —     None

In [72]:
df = pd.merge(df1, df2, on='地区', how='left')
df

        2019收益   2018收益   2017收益
地区
上海     912,978  862,165  780,296
河南     113,678   98,171   88,265
重慶      67,892   70,404   70,563
安徽     179,046  158,072  137,334
山東      81,786   69,116   59,718
遼寧     181,614  175,037  174,109
江西      80,789   55,071   45,924
福建      46,283   37,735   33,636
浙江      30,476   17,359    8,341
江蘇      64,302   52,944   57,017
廣西      15,664   11,755    2,697
內蒙古     18,191    9,958     None
貴州      15,407    7,024     None
湖北         216      NaN      NaN
—            —        —     None
—            —        —     None
總計   1,808,322      NaN      NaN

In [73]:
df[df.index !=  '—']

        2019收益   2018收益   2017收益
地区
上海     912,978  862,165  780,296
河南     113,678   98,171   88,265
重慶      67,892   70,404   70,563
安徽     179,046  158,072  137,334
山東      81,786   69,116   59,718
遼寧     181,614  175,037  174,109
江西      80,789   55,071   45,924
福建      46,283   37,735   33,636
浙江      30,476   17,359    8,341
江蘇      64,302   52,944   57,017
廣西      15,664   11,755    2,697
內蒙古     18,191    9,958     None
貴州      15,407    7,024     None
湖北         216      NaN      NaN
總計   1,808,322      NaN      NaN

In [64]:
df.index

Index(['上海', '河南', '重慶', '安徽', '山東', '遼寧', '江西', '福建', '浙江', '江蘇', '廣西', '內蒙古',
       '貴州', '湖北', '—', '總計'],
      dtype='object', name='地区')